.col-lg-3
.col-lg-6
  = form_for([@question, @commentable]) do |f|
    - comment_error_messages!
    .formgroup
      = f.label :comments
      %br/
      = f.text_area :comment, cols: "60", rows: "10"
      %br/
      - if params[:answer_id].present?
        = hidden_field_tag :answer_id, params[:answer_id]
    .actions
      = f.submit "Update Comment", :class => "btn btn-primary"
.col-lg-3
