.answer_comment
  - question.comments.where("history_id IS NULL").each do |comment|
    - question_comment = Comment.show_history(comment.id)
    %span= question_comment.comment
    %span.Firstname="-"
    %span= current_user.Firstname
    %span= current_user.lastname
    - if current_user == question_comment.user
      %span.Firstname= link_to 'Edit', edit_question_comment_path(id: comment.id, question_id:question)
      - unless question_comment.check_history?
        %span.Firstname= link_to 'Edited',  comments_comment_history_path(history_id: question_comment.history_id, dont_show: question_comment.id)


      %span.Firstname= link_to 'Destroy', question_comment_path(id: comment.id, question_id:question), method: :delete, data: { confirm: 'Are you sure?' }
    %br/
    %br/




