.col-lg-3
.col-lg-6
  = form_for([@question, @answer]) do |f|
    - if @answer.errors.any?
      #error_explanation
        %h2
          = pluralize(@answer.errors.count, "error")
          prohibited this answer from being saved:
        %ul
          - @answer.errors.full_messages.each do |message|
            %li= message
    .field
      = f.label :answers
      %br/
      = f.text_area :answer, cols: "60", rows: "10"
      %br/
    .actions
      = f.submit "Create Answer", :class => "btn btn-primary"
      = link_to 'Back', root_path
.col-lg-3

