.col-lg-3
.col-lg-6
  .sign-box
    %h2 Sign in
    %hr
    %br/
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.email_field :email, autofocus: true, :placeholder =>"Email", :class => "form-control"
      .form-group
        = f.password_field :password, autocomplete: "off", :placeholder =>"Password", :class => "form-control"
      .checkbox
      %label
        = f.check_box  :remember_me
        Remember me
      .action_sign
        = f.submit "Sign In", :class => "btn btn-primary"
      = render "devise/shared/links"
.col-lg-3



